.antd_formily_table_boost td {
    visibility: visible;
}

.antd_formily_table_boost
    td
    .ant-formily-item:not(ant-formily-item-feedback-layout-popover) {
    margin-bottom: 0 !important;
}

.antd_formily_table_boost
    td
    .ant-formily-item:not(ant-formily-item-feedback-layout-popover)
    .ant-formily-item-help {
    position: absolute;
    font-size: 12px;
    top: 100%;
    background: #fff;
    width: 100%;
    margin-top: 3px;
    padding: 3px;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 0 10px #eee;
}
