.formily_antd_none_checkbox {
}

.formily_antd_none_checkbox .ant-table-selection-column {
    width: 0px !important;
    overflow: hidden !important;
}

.formily_antd_none_checkbox .ant-table-selection-col {
    width: 0px !important;
}
